<div class="overlay"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> 
<script src="/vendors/JS/jquery-3.3.1.min.js"></script>
<script src="/vendors/JS/owl.carousel.min.js"></script>
<script src="/vendors/JS/popper.min.js"></script>

<script src="/vendors/JS/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/vendors/JS/axios.js"></script>
<script src="/resources/JS/main.js"></script>