<footer class="footer-section mt-0 pb-2" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="">
                            <img src="./resources/img/logo.png" alt="">
                        </a>
                    </div>
                    <h4>Contact Us</h4>
                    <ul>
                        <li><i class="fa fa-location-arrow" aria-hidden="true"></i> : 60-49 Road 11378 New York</li>
                        <li>Phone: +959456951139</li>
                        <li>Email: kaungmyatsoe@galaxy.com</li>
                    </ul>
                    <p>Follow Us on</p>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-left">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">SHOP</a></li>
                        <li><a href="">Category</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="">
                            <img src="./resources/img/logo.png" alt="">
                        </a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.colorlib@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright-text">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>