<footer class="footer-section mt-0 pb-2" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="">
                            Galaxy
                        </a>
                    </div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">SHOP</a></li>    
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-left">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Cart</a></li>
                        <li><a href="">Orders</a></li>
                    </ul>
                    <a href="" class="btn primary-btn">Become Seller</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-left">
                    <h5>Main Office</h5>
                    <ul>
                        <li><i class="fa fa-location-arrow" aria-hidden="true"></i> : 60-49 Road 11378 New York</li>
                        <li>Phone: +959456951139</li>
                        <li>Email: kaungmyatsoe@galaxy.com</li>
                    </ul>
                    <p>Follow Us on</p>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p>
            Copyright &copy;
        </p>
    </div>
</footer>