<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/CSS/owl.carousel.min.css">
    <link rel="stylesheet" href="/resources/style/style.css">
    <link rel="stylesheet" href="/resources/style/login.css">
    <link rel="stylesheet" href="/resources/style/shop.css" />
    <link rel="stylesheet" href="/resources/style/register.css">
    <link rel="stylesheet" href="/resources/style/query.css">
</head>