<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/vendors/CSS/bootstrap.min.css"> -->
    
    <!-- <link rel="stylesheet" href="/resources/style/style.css"> -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    

    <!-- Font Awesome JS -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/vendors/CSS/owl.carousel.min.css">
    <link rel="stylesheet" href="/resources/style/style.css">
     <link rel="stylesheet" href="/resources/style/sidebar.css">
    <link rel="stylesheet" href="/resources/style/login.css">
    <link rel="stylesheet" href="/resources/style/profile.css">
    <link rel="stylesheet" href="/resources/style/shop.css" />
    <link rel="stylesheet" href="/resources/style/register.css">
    <link rel="stylesheet" href="/resources/style/product-info.css">
    <link rel="stylesheet" href="/resources/style/cart.css">
    <link rel="stylesheet" href="/resources/style/checkout.css">
    <link rel="stylesheet" href="/resources/style/sell-list.css">
    <link rel="stylesheet" href="/resources/style/query.css">
    
</head>