<header>

    <nav class="">
        <div class="brand">
            <a href="/" class="brand-text">
                <img src="" alt="">
                Galaxy
            </a>
            <form action="" class="">
                <input type="text" class="searchbox" autocomplete="off" placeholder="search">
                <label for="search" class="search-icon"><i class="fa fa-search"></i></label>
            </form>
        </div>

        <div class="main-navbar">
            <ul class="main-nav">
                <li class="active">
                    <a class="" href="/">Home</a>
                </li>
                <li class="">
                    <a class="" href="/shop">SHOP</a>
                </li>
                <li class="">
                    <a class="" href="#">Categories</a>
                </li>
                
                <li class="">
                    <a class="" href="/sign-up">Sign up</a>
                </li>
                <li class="">
                    <a class="" href="/sign-in">Sign in</a>
                </li>
                
                <!-- <li class="">
                <a class="" href="#">Logout</a>
            </li> -->
            </ul>

            <a href="" class="profile">
                <img src="./resources/img/ipad-pro-2018.jpg" alt="">
            </a>
            <!-- <div class="profile">
                <a href="" class="btn btn-outline-primary">Login</a>
                <a href="" class="btn btn-primary">Register</a>
            </div> -->

        </div>
    </nav>
</header>