<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="profile-picture">
        <img src="/resources/img/undraw_profile_pic_ic5t.svg" alt="">
    </div>
    <div class="sidebar-heading"><%= user.name %></div>
    <div class="list-group list-group-flush">
        <a href="/users/profile" class="list-group-item list-group-item-action bg-light">My
            Product</a>
        <a href="/users/cart" class="list-group-item list-group-item-action bg-light">Cart</a>
        <a href="/users/profile/sell" class="list-group-item list-group-item-action bg-light">Sell List</a>
        <a href="/users/profile/order" class="list-group-item list-group-item-action bg-light">Order List</a>
        <a href="/users/me" class="list-group-item list-group-item-action bg-light">My Info</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
    </div>
</div>
<!-- /#sidebar-wrapper -->