.shopping-cart{
    padding-top: 80px;
    padding-bottom: 60px;
}
.cart-table{
    margin-bottom: 40px;
}
.cart-table table{
    width: 100%;
    /* min-width: 480px; */
    border: 1px solid #ebebeb;
}
.cart-table table th{
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    text-transform: uppercase;
    padding:18px 0;
}
.cart-table table td{
    text-align: center;
    padding: 30px 10px;
}
.cart-table table th.p-name,.cart-table table td.p-name{
    text-align: left;
}
.cart-table table td.p-picture{
    width: 21%;
}
.cart-table table td.p-name h5{
    color: #252525;
}
.shopping-cart .checkout{
    background-color: #f3f3f3;
    border: 2px solid #ebebeb;
}
.shopping-cart .checkout table{
    width: 100%;
}
.shopping-cart .checkout table tr td{
    padding: 16px 20px;
}