.shopping-cart{
    padding-top: 80px;
    padding-bottom: 60px;
}
.cart-table{
    margin-bottom: 40px;
}
.cart-table table{
    width: 100%;
    /* min-width: 480px; */
    border: 1px solid #ebebeb;
}
.cart-table table th{
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    text-transform: uppercase;
    padding:18px 0;
}
.cart-table table td{
    text-align: center;
    padding: 30px 10px;
}
.cart-table table th.p-name,.cart-table table td.p-name{
    text-align: left;
}
.cart-table table td.p-picture{
    width: 10%;
}
.cart-table table td.p-name h5{
    color: #252525;
}
.shopping-cart .checkout{
    background-color: #f3f3f3;
    border: 2px solid #ebebeb;
}
.shopping-cart .checkout table{
    width: 100%;
}
.shopping-cart .checkout table tr td{
    padding: 16px 20px;
}
.cart-table table tr td.qua-col {
	width: 16%;
}

.cart-table table tr td.qua-col .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table table tr td.qua-col .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.cart-table table tr td.qua-col .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}