<% layout('layout') %>
<%- include('./partials/navbar.ejs') %>
<!-- Forgot Section Begin -->
<section class="forgot-password-section">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 img text-left">
                <img src="./resources/img/undraw_personalization_triu.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h3>Forgot Password?</h3>
                    <p>You can reset your password here.</p>
                    <% if(error){ %>
                            <div class="alert alert-danger"><%= error.msg %></div>
                    <% } %>
                    <% if(info){ %>
                        <div class="alert alert-success"><%= info.msg %></div>
                <% } %>
                    <form action="/forgot" method="POST">
                        <div class="input-gp pb-4">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <label for="email"> Email</label>
                            <input type="email" name="email" id="email" class="input d-block" autocomplete="off">
                        </div>
                        <input type="submit" value="Recover my password" class="btn btn-primary mt-3 text-white">  
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Forgot Form Section End -->


<%- include('./partials/footer.ejs') %>

<script src="./vendors/JS/jquery-3.3.1.min.js"></script>
<script src="./vendors/JS/bootstrap.min.js"></script>
<script src="./vendors/JS/owl.carousel.min.js"></script>
<script src="./resources/JS/main.js"></script>