<% layout('layout') %>

<%- include('./partials/navbar.ejs') %>

<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Galaxy SHOP</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, aliquid.</p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="./resources/img/buy.jpg" alt="">
                    </div>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, omnis magnam molestias
                    voluptatibus voluptatum eum laboriosam itaque accusamus modi nostrum excepturi neque maiores
                    quidem aut consectetur quibusdam iste inventore dolor temporibus aspernatur? Voluptate porro,
                    ipsam magnam nisi possimus voluptas praesentium quaerat, consequatur odio aliquam debitis illo
                    tempore unde numquam, labore hic dolor fugiat! Velit atque delectus quibusdam dolore? Quod enim
                    quibusdam, sed dolorum amet earum repellendus molestiae in! Laborum impedit pariatur labore
                    excepturi dicta quasi enim nisi dolor explicabo aliquid iure dolores quam sit ullam maxime ut
                    maiores quae amet, sed inventore incidunt? Perspiciatis aspernatur, at culpa ullam, animi
                    repudiandae quibusdam laudantium nam odio ex dolorem atque excepturi! A atque labore provident
                    officiis totam ex explicabo, suscipit dolore sed facere delectus, dolorum aut nemo? Vitae a
                    inventore aut veritatis! Voluptatem in corrupti explicabo laborum alias. Repellat numquam iste
                    quaerat provident sunt nesciunt accusantium. Exercitationem quia atque dolorem ullam sint rerum,
                    placeat, quas eveniet veritatis ea delectus officiis assumenda cum voluptates excepturi ex
                    aspernatur inventore quisquam consequatur magnam nesciunt eligendi perspiciatis? Doloremque
                    molestias aliquam amet laboriosam, aliquid dolore delectus iure quisquam voluptate nesciunt in
                    reiciendis quod. Sunt, impedit. Ad beatae deleniti dolorem nostrum provident, officiis
                    consequuntur repellendus, dolor odio delectus quas.
                </p>
            </div>
        </div>
        <div class="single-hero-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Happy SHOP</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, aliquid.</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="./resources/img/buy.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% if(isLogin){ %>
    <h1>Welcome Back, <%= name %></h1>
<% } %>
<section class="section-category mb-0 py-5" id="category">
    <h2 class="text-center">Categories</h2>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="category-box p-3 text-center">
                    <img src="./resources/img/electronic.jpeg" alt="">
                    <div class="inner-text mt-4">
                        <h3>Eectronic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="category-box p-3 text-center">
                    <img src="./resources/img/electronic.jpeg" alt="">
                    <div class="inner-text mt-4">
                        <h3>Eectronic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="category-box p-3 text-center">
                    <img src="./resources/img/electronic.jpeg" alt="">
                    <div class="inner-text mt-4">
                        <h3>Eectronic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="category-box p-3 text-center">
                    <img src="./resources/img/electronic.jpeg" alt="">
                    <div class="inner-text mt-4">
                        <h3>Eectronic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="category-box p-3 text-center">
                    <img src="./resources/img/electronic.jpeg" alt="">
                    <div class="inner-text mt-4">
                        <h3>Eectronic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="category-box p-3 text-center">
                    <img src="./resources/img/electronic.jpeg" alt="">
                    <div class="inner-text mt-4">
                        <h3>Eectronic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>

<script src="/vendors/JS/jquery-3.3.1.min.js"></script>
<script src="/vendors/JS/bootstrap.min.js"></script>
<script src="/vendors/JS/owl.carousel.min.js"></script>
<script src="/resources/JS/main.js"></script>
<script>

   
</script>