<% layout('layout') %>



<div class="wrapper">
    <!-- Sidebar  -->
    <%- include('./partials/side.ejs') %>

    <!-- Page Content  -->
    <div id="content">

        <header>
            <%- include('./partials/navbar.ejs') %>
        </header>
        <section class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 side-menu" id="sidemenu">
                        <ul>
                            <li>On sale <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-1</li>
                                    <li>Sub Menu-1</li>
                                    <li>Sub Menu-1</li>
                                    <li>Sub Menu-1</li>
                                </ul>
                            </li>
        
                            <li>Mobiles<i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-2</li>
                                    <li>Sub Menu-2</li>
                                    <li>Sub Menu-2</li>
                                    <li>Sub Menu-2</li>
                                </ul>
                            </li>
        
                            <li>Computers <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-3</li>
                                    <li>Sub Menu-3</li>
                                    <li>Sub Menu-3</li>
                                    <li>Sub Menu-3</li>
                                </ul>
                            </li>
        
                            <li>Books <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-4</li>
                                    <li>Sub Menu-4</li>
                                    <li>Sub Menu-4</li>
                                    <li>Sub Menu-4</li>
                                </ul>
                            </li>
        
                            <li>Fitness <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-5</li>
                                    <li>Sub Menu-5</li>
                                    <li>Sub Menu-5</li>
                                    <li>Sub Menu-5</li>
                                </ul>
                            </li>
        
                            <li>Beby Care <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-6</li>
                                    <li>Sub Menu-6</li>
                                    <li>Sub Menu-6</li>
                                    <li>Sub Menu-6</li>
                                </ul>
                            </li>
        
                            <li>Magazines <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-7</li>
                                    <li>Sub Menu-7</li>
                                    <li>Sub Menu-7</li>
                                    <li>Sub Menu-7</li>
                                </ul>
                            </li>
        
                            <li>Auto Accessories <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-8</li>
                                    <li>Sub Menu-8</li>
                                    <li>Sub Menu-8</li>
                                    <li>Sub Menu-8</li>
                                </ul>
                            </li>
        
                            <li>Movies and Music <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-9</li>
                                    <li>Sub Menu-9</li>
                                    <li>Sub Menu-9</li>
                                    <li>Sub Menu-9</li>
                                </ul>
                            </li>
        
                            <li>Video and Games <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-10</li>
                                    <li>Sub Menu-10</li>
                                    <li>Sub Menu-10</li>
                                    <li>Sub Menu-10</li>
                                </ul>
                            </li>
        
                            <li>Home and Kitchen <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-11</li>
                                    <li>Sub Menu-11</li>
                                    <li>Sub Menu-11</li>
                                    <li>Sub Menu-11</li>
                                </ul>
                            </li>
        
                            <li>Furniture <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-12</li>
                                    <li>Sub Menu-12</li>
                                    <li>Sub Menu-12</li>
                                    <li>Sub Menu-12</li>
                                </ul>
                            </li>
        
                            <li>Grocery <i class="fa fa-angle-right"></i>
                                <ul>
                                    <li>Sub Menu-13</li>
                                    <li>Sub Menu-13</li>
                                    <li>Sub Menu-13</li>
                                    <li>Sub Menu-13</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10 slider">
                        <div class="hero-items owl-carousel">
                            <div class="single-hero-items">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1>Galaxy SHOP</h1>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, aliquid.</p>
                                            <a href="#" class="primary-btn">Shop Now</a>
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="./resources/img/buy.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-hero-items">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1>Happy SHOP</h1>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, aliquid.</p>
                                            <a href="#" class="primary-btn">SHOP NOW</a>
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="/resources/img/buy.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="hero-section">
            
        </section> -->
        <section class="section-category mb-0 py-5" id="category">
            <h2 class="text-center">Categories</h2>
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="category-box p-3 text-center">
                            <img src="./resources/img/electronic.jpeg" alt="">
                            <div class="inner-text mt-4">
                                <h3>Eectronic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="category-box p-3 text-center">
                            <img src="./resources/img/electronic.jpeg" alt="">
                            <div class="inner-text mt-4">
                                <h3>Eectronic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="category-box p-3 text-center">
                            <img src="./resources/img/electronic.jpeg" alt="">
                            <div class="inner-text mt-4">
                                <h3>Eectronic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="category-box p-3 text-center">
                            <img src="./resources/img/electronic.jpeg" alt="">
                            <div class="inner-text mt-4">
                                <h3>Eectronic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="category-box p-3 text-center">
                            <img src="./resources/img/electronic.jpeg" alt="">
                            <div class="inner-text mt-4">
                                <h3>Eectronic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="category-box p-3 text-center">
                            <img src="./resources/img/electronic.jpeg" alt="">
                            <div class="inner-text mt-4">
                                <h3>Eectronic</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, culpa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="popular-product__section">
            <div class="container">
                <h2 class="text-center">Popular Product</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-slider owl-carousel">
                            <div class="product-item">
                                <div class="product-picture text-center">
                                    <a href="/shop/products/detail/">
                                        <img src="/resources/img/electronic.jpeg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="product-text text-center">
                                    <div class="category-name">
                                        <em class="text-muted">Mobile Phone & Tablet</em>
                                    </div>
                                    <div class="product-name">
                                        <h4>iPad Pro</h4>
                                    </div>
                                    <div class="product-price">$900
                                        <del>$950</del></div>
                                    <div class="seller-name">
                                        <span>Sold By</span>
                                        <a href="#" class="d-inline text-dark">Htet Hein</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-picture text-center">
                                    <a href="/shop/products/detail/">
                                        <img src="/resources/img/electronic.jpeg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="product-text text-center">
                                    <div class="category-name">
                                        <em class="text-muted">Mobile Phone & Tablet</em>
                                    </div>
                                    <div class="product-name">
                                        <h4>iPad Pro</h4>
                                    </div>
                                    <div class="product-price">$900
                                        <del>$950</del></div>
                                    <div class="seller-name">
                                        <span>Sold By</span>
                                        <a href="#" class="d-inline text-dark">Htet Hein</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-picture text-center">
                                    <a href="/shop/products/detail/">
                                        <img src="/resources/img/electronic.jpeg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="product-text text-center">
                                    <div class="category-name">
                                        <em class="text-muted">Mobile Phone & Tablet</em>
                                    </div>
                                    <div class="product-name">
                                        <h4>iPad Pro</h4>
                                    </div>
                                    <div class="product-price">$900
                                        <del>$950</del></div>
                                    <div class="seller-name">
                                        <span>Sold By</span>
                                        <a href="#" class="d-inline text-dark">Htet Hein</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-picture text-center">
                                    <a href="/shop/products/detail/">
                                        <img src="/resources/img/electronic.jpeg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="product-text text-center">
                                    <div class="category-name">
                                        <em class="text-muted">Mobile Phone & Tablet</em>
                                    </div>
                                    <div class="product-name">
                                        <h4>iPad Pro</h4>
                                    </div>
                                    <div class="product-price">$900
                                        <del>$950</del></div>
                                    <div class="seller-name">
                                        <span>Sold By</span>
                                        <a href="#" class="d-inline text-dark">Htet Hein</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="product-picture text-center">
                                    <a href="/shop/products/detail/">
                                        <img src="/resources/img/electronic.jpeg" class="img-fluid" alt="" />
                                    </a>
                                </div>
                                <div class="product-text text-center">
                                    <div class="category-name">
                                        <em class="text-muted">Mobile Phone & Tablet</em>
                                    </div>
                                    <div class="product-name">
                                        <h4>iPad Pro</h4>
                                    </div>
                                    <div class="product-price">$900
                                        <del>$950</del></div>
                                    <div class="seller-name">
                                        <span>Sold By</span>
                                        <a href="#" class="d-inline text-dark">Htet Hein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>
    </div>
</div>
<%- include('./partials/end.ejs') %>