<% layout('layout') %>
<%- include('./partials/navbar.ejs') %>
<!-- Reset Section Begin -->
<section class="forgot-password-section">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 img text-left">
                <img src="/resources/img/undraw_personalization_triu.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h3>Update Password?</h3>
                    <p>You can reset your password here.</p>
                    
                    <form action='/resetPassword/<%= token %>' method="POST">
                        <div class="input-group">
                            <div class="input-gp">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <label for="confirmPassword">Confirm Password</label>
                                <i class="fa fa-eye toggleBtn" aria-hidden="true"></i>
                                <input type="password" name="password" id="confirmPassword" class="input d-block">
                            </div>
                            <small id="confirmText" class="form-text text-left">Password does't match</small>
                        </div>
                        <div class="input-group">
                            <div class="input-gp">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <label for="confirmPassword">Confirm Password</label>
                                <i class="fa fa-eye toggleBtn" aria-hidden="true"></i>
                                <input type="password" name="password" id="confirmPassword" class="input d-block">
                            </div>
                            <small id="confirmText" class="form-text text-left">Password does't match</small>
                        </div>
                        <input type="submit" value="Recover my password" class="btn btn-primary mt-3 text-white">  
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reset Form Section End -->


<%- include('./partials/footer.ejs') %>

