<% layout('layout') %>
<%- include('./partials/navbar.ejs') %>
<div class="breadcomb-section pt-4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ex
    natus. Maxime libero odio assumenda eum, eligendi deleniti voluptate.
    Excepturi quibusdam alias, earum provident numquam amet perspiciatis
    iste repellat. Delectus.
  </p>
</div>
<!--Start Product Detail Secction -->
<section class="shop-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="categories-filter">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active text-dark" href="#">All Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mobile Phones and Tablets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mobile Phones and Tablets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mobile Phones and Tablets</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="product-list">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="product-item">
                <div class="product-picture text-center">
                  <a href="./product-detail.html">
                    <img src="./resources/img/undraw_personalization_triu.svg" class="img-fluid" alt="" />
                  </a>
                </div>
                <div class="product-text text-center">
                  <div class="category-name">
                    <em class="text-muted">Mobile Phones and Tablets</em>
                  </div>
                  <div class="product-name">
                    <h4>iPad Pro</h4>
                  </div>
                  <div class="product-price">$850 <del>$922</del></div>
                  <div class="seller-name">
                    <span>Sold By</span>
                    <a href="#" class="d-inline text-dark">Htet Hein</a>
                  </div>
                  <!-- <div class="add-to-cart">
                      <form action="">
                        <input type="hidden" />
                        <input
                          type="submit"
                          value="Add To Cart"
                          class="btn primary-btn text-white"
                        />
                      </form>
                    </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="product-item">
                <div class="product-picture text-center">
                  <a href="./product-detail.html">
                    <img src="./resources/img/undraw_personalization_triu.svg" class="img-fluid" alt="" />
                  </a>
                </div>
                <div class="product-text text-center">
                  <div class="category-name">
                    <em class="text-muted">Mobile Phones and Tablets</em>
                  </div>
                  <div class="product-name">
                    <h4>iPad Pro</h4>
                  </div>
                  <div class="product-price">$850 <del>$922</del></div>
                  <div class="seller-name">
                    <span>Sold By</span>
                    <a href="#" class="d-inline text-dark">Htet Hein</a>
                  </div>
                  <!-- <div class="add-to-cart">
                        <form action="">
                          <input type="hidden" />
                          <input
                            type="submit"
                            value="Add To Cart"
                            class="btn primary-btn text-white"
                          />
                        </form>
                      </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="product-item">
                <div class="product-picture text-center">
                  <a href="./product-detail.html">
                    <img src="./resources/img/undraw_personalization_triu.svg" class="img-fluid" alt="" />
                  </a>
                </div>
                <div class="product-text text-center">
                  <div class="category-name">
                    <em class="text-muted">Mobile Phones and Tablets</em>
                  </div>
                  <div class="product-name">
                    <h4>iPad Pro</h4>
                  </div>
                  <div class="product-price">$850 <del>$922</del></div>
                  <div class="seller-name">
                    <span>Sold By</span>
                    <a href="#" class="d-inline text-dark">Htet Hein</a>
                  </div>
                  <!-- <div class="add-to-cart">
                        <form action="">
                          <input type="hidden" />
                          <input
                            type="submit"
                            value="Add To Cart"
                            class="btn primary-btn text-white"
                          />
                        </form>
                      </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Product Detail Secction -->
<%- include('./partials/footer.ejs') %>

<script src="./vendors/JS/jquery-3.3.1.min.js"></script>
<script src="./vendors/JS/bootstrap.min.js"></script>
<script src="./vendors/JS/owl.carousel.min.js"></script>
<script src="./resources/JS/main.js"></script>