<% layout('layout') %>

<%- include('./partials/navbar.ejs') %>

<!-- Register section Begin -->
<section class="register-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="left-side">
                    <div class="text-box">
                        <h4>
                            Start Shopping
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur quae sequi placeat laborum pariatur?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="register-form">
                    <!-- <img src="/resources/img/logo.png" alt="Logo" class="d-block mx-auto"> -->
                    <h3 class="text-center my-3">Create account</h3>
                    <% if(hasError){ %>
                        <% for(let error of errors){ %>
                            <div class="alert alert-danger"><%= error.msg %></div>
                        <% } %>
                    <% } %>
                    <form action="/sign-up" method="POST">
                        <div class="input-gp">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <label for="firstName"> First Name</label>
                            <input type="text" name="firstName" id="firstName" class="input d-block"
                                autocomplete="off">
                        </div>
                        <div class="input-gp">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <label for="lastName"> Last Name</label>
                            <input type="text" name="lastName" id="lastName" class="input d-block"
                                autocomplete="off">
                        </div>
                        <div class="input-gp">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <label for="email"> Email</label>
                            <input type="email" name="email" id="email" class="input d-block" autocomplete="off">
                        </div>
                        <div class="input-gp">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <label for="password">Password</label>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <input type="password" name="password" id="password" class="input d-block">
                        </div>
                        <small id="emailHelp" class="form-text text-muted text-left">minimum 8 characters</small>
                        <!-- <div class="input-gp">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <label for="password">Reconfirm password</label>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <input type="password" name="password" id="password" class="input d-block">
                        </div> -->
                        <input type="submit" value="Sign up" class="btn primary-btn login-btn mt-3 text-white">
                        <div class="or-seperator"><i>or using with</i></div>
                        <div class="text-center social-btn">
                            <a href="#" class="btn btn-facebook text-white"><i class="fa fa-facebook"></i>&nbsp;
                                Facebook</a>
                            <a href="#" class="btn btn-google text-white"><i class="fa fa-google"></i>&nbsp;
                                Google</a>
                        </div>
                    </form>
                    <a href="/sign-in">Already has an account?</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Register Form Section End -->

<%- include('./partials/footer.ejs') %>

<script src="/vendors/JS/jquery-3.3.1.min.js"></script>
<script src="/vendors/JS/bootstrap.min.js"></script>
<script src="/vendors/JS/owl.carousel.min.js"></script>
<script src="/resources/JS/main.js"></script>