<% layout('layout') %>



    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('./partials/side.ejs') %>

        <!-- Page Content  -->
        <div id="content">

            <header>
                <%- include('./partials/navbar.ejs') %>
            </header>
            
            
            
            <%- include('./partials/footer.ejs') %>
        </div>
    </div>
    <%- include('./partials/end.ejs') %>
    
       
    




